apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis
  namespace: ns-data
spec:
  serviceName: "redis"
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      # Suppression de l'affinité pour permettre le déploiement local
      containers:
      - name: redis
        image: redis:6-alpine
        ports:
        - containerPort: 6379
        resources:
          requests:
            cpu: "100m"
            memory: "100Mi"
          limits:
            cpu: "200m"
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: ns-data
spec:
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    app: redis