apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: redis # Changé de user-data à redis
  namespace: projet-apps
spec:
  serviceName: "redis"
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:6-alpine
        ports:
        - containerPort: 6379
        resources:
          requests:
            cpu: "100m"
            memory: "100Mi" # Réduit car 500Mi est beaucoup pour un Redis vide
---
apiVersion: v1
kind: Service
metadata:
  name: redis # NOM CRUCIAL : Vos APIs cherchent "redis"
  namespace: projet-apps
spec:
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    app: redis