apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: sql-data
  namespace: m2cloud
  labels:
    app: sql-data
spec:
  serviceName: sql-data-service
  replicas: 1
  selector:
    matchLabels:
      app: sql-data
  template:
    metadata:
      labels:
        app: sql-data
    spec:
      serviceAccountName: m2cloud-sa
      containers:
        - name: sql-data
          image: mcr.microsoft.com/mssql/server:2022-latest
          ports:
            - containerPort: 1433
          env:
            - name: ACCEPT_EULA
              value: "Y"
            - name: MSSQL_SA_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: SA_PASSWORD
          resources:
            requests:
              cpu: "4m"
              memory: "500Mi"
            limits:
              cpu: "1"
              memory: "1500Mi"
          volumeMounts:
            - name: sql-data-storage
              mountPath: /var/opt/mssql
          livenessProbe:
            tcpSocket:
              port: 1433
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            tcpSocket:
              port: 1433
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
  volumeClaimTemplates:
    - metadata:
        name: sql-data-storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 10Gi
---
apiVersion: v1
kind: Service
metadata:
  name: sql-data-service
  namespace: m2cloud
spec:
  selector:
    app: sql-data
  ports:
    - protocol: TCP
      port: 1433
      targetPort: 1433
  type: ClusterIP
  clusterIP: None
